* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:lightblue;
}

form div {
    padding: 10px 5px;
    margin: 10px 5px;
}