/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Uncial Antiqua", cursive;
} */

.alignment_wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
}
.alignment_wrapper h1 {
  font-size: 30px;
}

.alignment_options {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  align-items: center;

  color: whitesmoke;
  font-size: 20px;
}

.alignment_options button {
  font-size: 20px;
  align-content: stretch;
  width: 300px;
  height: 200px;
  border-radius: 7%;
}
