@import url('https://dafont.com/dungeon-sn.font');
/* font-family: dungeon-sn; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: dungeon-sn, san;
}

body {
    padding: 0;
}

button {
    margin: 0;
    display: grid;
    justify-self: center;
}

.landing_title {
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    padding: .5rem;
}

.main-content {
    margin: 2rem;
    padding: 2rem;
    width: 90%;  
}

.main-header {
    margin: .25rem 0;
    padding: .25rem 0;
}

.main-wrapper {
    background-image: url("./img/dnd_mountain2.jpeg");
    margin: 0 auto;
    width: 85%;
    min-height: 100vh;
    min-width: 40rem;
    max-width: 70rem;
    box-shadow: rgb(71, 71, 71) 3px 3px 2px 4px;
}

.navbar {
    margin: .25rem 0;
    padding: .25rem 0;
}