.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
}

.button-wrapper button {
  padding: 0.25rem;
  margin: 1rem 2rem;
}

.die-value {
  color: whitesmoke;
  font-size: 2rem;
  padding: 0.25rem 0.85rem;
  margin: 0.25rem;
}

.diceroll {
  margin: 0 auto;
  padding: 0.5rem;
}

.selected {
  color: gray;
  text-decoration: line-through;
}

.statform-wrapper {
  width: 85%;
  margin: 0 auto;
}

.stat-form_title {
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  padding-bottom: 20px;
}

.stat-table {
  color: white;
  background-color: green;
  border-collapse: collapse;
  border: 1px solid paleturquoise;
  margin: 0 auto;
}

.stat-table th {
  padding: 0.3rem 0.75rem;
}

.stat-table thead {
  background-color: rgb(21, 76, 78);
}

.stat-table tr:nth-child(even) {
  background-color: lightseagreen;
}

.stat-table td {
  padding: 0.25rem 0.75rem;
  margin: 0.5rem;
}
